<section id="about">
    <div class="flex">
        <div class="half about-wrapper">
            <img class="about-img-1 wow fadeIn" src="img/TDC.png" alt="TDC Logo">
            <div class="about-text-1 about-margin-top-1 wow fadeIn">
                Dr Lee and Dr Florez are dedicated in providing
                the best oral care for their patients. Collectively for more than 14 years they practiced as associate dentists in New Jersey and New York seeing thousands of                       patients. These years had led them to hone their skills and develop good interpersonal relationship with their patients.
            </div>
            <div class="about-text-1 about-margin-top-2 wow fadeIn">
                Through their dedication and commitment led them to establish Thyme Dental Care.
            </div>
            <div class="about-text-2 about-margin-top-3 wow fadeIn">
                Grounded in empathy. Backed by science. Curated by experts who work with smiles every day
            </div>
        </div>
        <div class="half">
            <img class="about-img-2" src="img/about-img-1.png" alt="Dental Care">
        </div>
    </div>
</section>