<section id="contact">
    <div class="flex">
        <div class="half">
            <div class="contact-wrapper">
                <h2 class="contact-text-1">Contact information</h2>
                <div class="contact-location-1 flex">
                    <div class="contact-location-1-wrapper flex">
                        <div class="contact-text-2">230 East 79th Street, Office 1</div>
                        <div class="contact-text-2"><img src="img/phone-2.png" alt="phone"> 212.396.3069</div>
                        <div class="line-break contact-line-break-margin"></div>
                        <div class="contact-text-2">57 W 57th St, Suite 703</div>
                        <div class="contact-text-2"><img src="img/phone-2.png" alt="phone"> 212.688.3472</div>
                    </div>
                </div>
                <div class="contact-location-2">
                    <span class="contact-text-2">
                        Lorem ipsum dolor sit amet, ad elaboraret inciderint vim. Indoctum sapientem complectitur pri ex. Utamur feugiat eum et. Agam quodsi eu duo, has noster                          debitis erroribus ea.
                    </span>
                </div>
                <div class="contact-location-3">
                    <span class="contact-text-3">Follow us:</span>
                    <div class="contact-location-4">
                        <img src="img/facebook-logo.png" alt="facebook-logo">
                        <img src="img/google-logo.png" alt="google-logo">
                        <img src="img/instagram-logo.png" alt="instagram-logo">
                    </div>
                </div>
            </div>
        </div>
        <div class="half contact-bg">
            <div class="contact-wrapper">
                <span class="contact-text-4">Contact Us</span>
                <div class="contact-horizontal-line"></div>
                <form>
                    <input type="text" name="name" placeholder="Name">
                    <input type="email" name="email" placeholder="Email">
                    <input type="tel" name="phone" placeholder="Phone">
                    <input type="" name="message" placeholder="Message">
                    <select>
                        <option>Yes</option>
                        <option>No</option>
                    </select>
                    <input type="submit">
                </form>
            </div>
        </div>
    </div>
</section>