<section id="footer">
    <div class="footer-wrapper footer-bg flex">
        <img class="footer-img-1" src="img/footer-logo.png" alt="Thyme Dental Care Logo">
        <div class="footer-location-1">
            <a href="#">Home</a>
            <a href="#">About Us</a>
            <a href="#">Services</a>
        </div>
        <div class="footer-location-2">
            <a href="#">Financing</a>
            <a href="#">Locations</a>
            <a href="#">Contact us</a>
        </div>
        <div class="footer-location-3">
            <span class="footer-text-1">Reach Us</span>
            <div class="footer-location-4">
                <span class="footer-text-2">
                    230 East 79th Street, Office 1
                    <span class="smart-break">New York, NY 10075</span>
                </span>
                <div class="footer-margin"></div>
                <span class="footer-text-2">
                    57 W 57th St, Suite 702
                    <span class="smart-break">New York, NY 10075</span>
                </span>
            </div>
        </div>
        <div class="footer-location-3">
            <span class="footer-text-1">Call Us Today!</span>
            <div class="footer-location-4">
                <span class="footer-text-2">
                    212.688.3472
                    <span class="smart-break footer-text-3">ues@thymedentalcare.com</span>
                </span>
                <div class="footer-margin"></div>
                <span class="footer-text-2">
                    212.396.3069
                    <span class="smart-break footer-text-3">midtown@thymedentalcare.com</span>
                </span>
            </div>
        </div>
        <div class="footer-location-4">
            <img class="footer-img-2" src="img/freshclicks-logo.png" alt="FreshClicks Media Logo">
        </div>
    </div>
</section>