<section id="gallery">
    <div class="flex">
        <div class="quarter">
            <div class="gallery-location-1">
                <span class="gallery-text-1">Our Smile Gallery</span>
            </div>
        </div>
        <div class="three-quarter gallery-bg ">
            <div class="gallery-wrapper flex">
                <div class="gallery-nav">
                    <div class="counter">
                        <span id="gallery-counter">01</span><span class="gallery-total">/<span class="gallery-total-counter">10</span></span>
                    </div>
                    <div class="testimonials-arrow">
                        <a href="#"><img class="gallery-arrow-1" src="../img/arrow-back.png" alt="Arrow Back"></a>
                        <a href="#"><img class="gallery-arrow-2" src="../img/arrow-next.png" alt="Arrow Next"></a>
                    </div>
                </div>
                <div class="gallery-location-2">
                    <img src="img/gallery-img-1.png" alt="teeth">
                    <div class="gallery-horizontal-line"></div>
                    <img src="img/gallery-img-2.png" alt="good teeth">
                </div>
                <div class="gallery-location-3">
                    <span class="gallery-text-2">
                        Your smile is the first impression that others have of you, so it makes sense that you would want it to be bright, white and healthy.
                        Cosmetic Dentistry, more than 99 percent of all American adults believe that a smile is an important asset for social situations.
                    </span>
                </div>
                <div class="gallery-location-4">
                <span class="gallery-text-3">
                    COSMETIC DENTISTRY
                </span>
                </div>
            </div>
        </div>
    </div>
</section>