<section id="gallery">
    <div class="flex">
        <div class="quarter">
            <div class="gallery-location-1">
                <span class="gallery-text-1">Our Smile Gallery</span>
            </div>
        </div>
        <div class="three-quarter gallery-bg ">
            <div class="gallery-wrapper flex">
                <div class="gallery-nav wow fadeIn">
                    <div class="counter">
                        <span id="gallery-counter"></span><span class="gallery-total">/<span id="gallery-total-counter"></span></span>
                    </div>
                    <div class="gallery-arrow">
                        <a href="#"  class="gallery-jcarousel-control-prev"><img class="gallery-arrow-1" src="../img/arrow-back.png" alt="Arrow Back"></a>
                        <a href="#" class="gallery-jcarousel-control-next" ><img class="gallery-arrow-2" src="../img/arrow-next.png" alt="Arrow Next"></a>
                    </div>
                </div>

                <div class="gallery-jcarousel-wrapper">
                    <div class="gallery-jcarousel">
                        <ul>
                            <li>
                                <div class="gallery-location-2 flex " >
                                    <img src="img/gallery-img-1.png" class="gallery-img-1" alt="teeth">
                                    <div class="gallery-horizontal-line"></div>
                                    <img src="img/gallery-img-2.png" class="gallery-img-2" alt="good teeth">
                                </div>
                            </li>
                            <li>
                                <div class="gallery-location-2 flex " >
                                    <img src="img/gallery-img-1.png" class="gallery-img-1" alt="teeth">
                                    <div class="gallery-horizontal-line"></div>
                                    <img src="img/gallery-img-2.png" class="gallery-img-2" alt="good teeth">
                                </div>
                            </li>
                            <li>
                                <div class="gallery-location-2 flex " >
                                    <img src="img/gallery-img-1.png" class="gallery-img-1" alt="teeth">
                                    <div class="gallery-horizontal-line"></div>
                                    <img src="img/gallery-img-2.png" class="gallery-img-2" alt="good teeth">
                                </div>
                            </li>
                            <li>
                                <div class="gallery-location-2 flex " >
                                    <img src="img/gallery-img-1.png" class="gallery-img-1" alt="teeth">
                                    <div class="gallery-horizontal-line"></div>
                                    <img src="img/gallery-img-2.png" class="gallery-img-2" alt="good teeth">
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="gallery-location-3">
                    <span class="gallery-text-2 wow fadeIn">
                        Your smile is the first impression that others have of you, so it makes sense that you would want it to be bright, white and healthy.
                    </span>
                </div>
                <div class="gallery-location-4">
                <span class="gallery-text-3 wow fadeIn">
                    COSMETIC DENTISTRY
                </span>
                </div>
            </div>
        </div>
    </div>
</section>