<section id="header">
    <div class="wrapper header-wrapper">
        <div class="flex">
            <a href="#"><img class="logo" src="img/logo.png" alt="dental care logo"></a>
            <nav class="top-nav">
                <ul class="flex">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">About Us</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Financing</a>
                    </li>
                    <li>
                        <a href="#">Location</a>
                    </li>
                    <li>
                        <a href="#">Contact us</a>
                    </li>
                </ul>
            </nav>
            <a href="#"><img src="img/menu.png" class="menu" alt="dental care menu"></a>
        </div>

    </div>
</section>