<section id="header">
    <div class="hover-menu-bg"></div>
    <div class="wrapper header-wrapper">
        <div class="flex">
            <a href="#"><img class="logo" src="img/logo.png" alt="dental care logo"></a>
            <nav class="top-nav" id="top-nav">
                <ul class="flex">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">About Us</a>
                        <ul>
                            <li><a href="#">Office bios</a></li>
                            <li><a href="#">Testimonials</a></li>
                            <li><a href="#">Smile Galler</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Services</a>
                        <ul id="hover-drop-down">
                            <li><a href="#">Dental Videos</a></li>
                            <li><a href="#">Comprehensive Dentistry</a></li>
                            <li><a href="#">Preventative Dentistry</a></li>
                            <li><a href="#">Cosmetic Dentistry</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Financing</a>
                    </li>
                    <li>
                        <a href="#">Location</a>
                    </li>
                    <li>
                        <a href="#">Contact us</a>
                    </li>
                </ul>
            </nav>
            <a href="#">
                <div class="hamburger" id="hamburger-3">
                    <span class="line"></span>
                    <span class="line2"></span>
                    <span class="line"></span>
                </div>
            </a>

        </div>

    </div>
</section>