<section id="help">
    <div class="flex">
        <div class="half">
            <h2 class="help-text-1">How Can We <span class="smart-break">Help You?</span></h2>
            <div class="help-horizontal-line"></div>
        </div>
        <div class="half help-bg-1">
            <div class="help-wrapper">
                <div class="help-text-2">
                    COMPREHENSIVE
                    DENTISTRY
                </div>
                <div class="help-text-3">
                    Comprehensive dental care is about dentistry that
                    is predictable and long lasting. This usually...
                </div>
                <img src="img/arrow.png" alt="arrow">
            </div>
        </div>
        <div class="half help-bg-2">
            <div class="help-wrapper">
                <div class="help-text-2">
                    PREVENTATIVE
                    DENTISTRY
                </div>
                <div class="help-text-3">
                    Comprehensive dental care is about dentistry that
                    is predictable and long lasting. This usually...
                </div>
                <img src="img/arrow.png" alt="arrow">
            </div>
        </div>
        <div class="half help-bg-3">
            <div class="help-wrapper">
                <div class="help-text-2">
                    COSMETIC
                    DENTISTRY
                </div>
                <div class="help-text-3">
                    Comprehensive dental care is about dentistry that
                    is predictable and long lasting. This usually...
                </div>
                <img src="img/arrow.png" alt="arrow">
            </div>
        </div>
    </div>
</section>