<section id="help">
    <div class="flex">
        <div class="half help-location help-bg-1 help-flex help-wrapper">
            <h2 class="help-text-1 wow fadeIn">How Can We <span class="smart-break">Help You?</span></h2>
            <div class="line-break"></div>
            <div class="help-horizontal-line wow fadeIn"></div>
        </div>
        <div class="help-mobile-blur help-mobile-blur-1"></div>
        <div class="half help-location help-bg-2">
            <a href="#">
                <div class="help-wrapper">
                    <div class="help-text-2 wow fadeIn">
                        COMPREHENSIVE
                        <span class="smart-break">DENTISTRY</span>
                    </div>
                    <div class="help-hover">
                        <div class="help-text-3 wow fadeIn">
                            Comprehensive dental care is about dentistry that
                            is predictable and long lasting. This usually...
                        </div>
                        <img src="img/arrow.png" class="help-arrow" alt="arrow">
                    </div>
                </div>
            </a>
        </div>
        <div class="help-mobile-blur help-mobile-blur-2"></div>
        <div class="half help-location help-bg-3">
            <a href="#">
                <div class="help-wrapper">
                    <div class="help-text-2 wow fadeIn">
                        PREVENTATIVE
                        <span class="smart-break">DENTISTRY</span>
                    </div>
                    <div class="help-hover">
                        <div class="help-text-3 wow fadeIn">
                            Comprehensive dental care is about dentistry that
                            is predictable and long lasting. This usually...
                        </div>
                        <img src="img/arrow.png" class="help-arrow" alt="arrow">
                    </div>
                </div>
            </a>
        </div>
        <div class="help-mobile-blur help-mobile-blur-3"></div>
        <div class="half help-location help-bg-4">
            <a href="#">
                <div class="help-wrapper">
                    <div class="help-text-2 wow fadeIn">
                        COSMETIC
                        <span class="smart-break">DENTISTRY</span>
                    </div>
                    <div class="help-hover">
                        <div class="help-text-3 wow fadeIn">
                            Comprehensive dental care is about dentistry that
                            is predictable and long lasting. This usually...
                        </div>
                        <img src="img/arrow.png" class="help-arrow" alt="arrow">
                        </div>
                </div>
            </a>
        </div>
    </div>
</section>