<section id="honors">
    <div class="wrapper honors-wrapper">
        <div class="flex honors-not-mobile">
            <img src="img/adg-logo.png" alt="Academy of General Dentistry Logo">
            <img src="img/kois-logo.png" alt="Kois Center Logo">
            <img src="img/nycdc-logo.png" alt="New York County Dental Society Logo">
            <img src="img/icoi-logo.png" alt="International Congress of Oral Implantologists">
            <img src="img/nda-logo.png" alt="National Dental Association Logo">
        </div>
        <div class="flex honors-mobile">
            <div class="honors-text-mobile">Associations</div>
                <a href="#"  class="honors-jcarousel-control-prev"><img class="honors-arrow-1" src="../img/honors-arrow-back.png" alt="Arrow Back"></a>
                <a href="#" class="honors-jcarousel-control-next" ><img class="honors-arrow-2" src="../img/honors-arrow-next.png" alt="Arrow Next"></a>
            <div class="honors-jcarousel-wrapper">
                <div class="honors-jcarousel">
                    <ul>
                        <li>
                            <img src="img/adg-logo.png" alt="Academy of General Dentistry Logo">
                            <img src="img/nycdc-logo.png" alt="New York County Dental Society Logo">
                        </li>
                        <li>
                            <img src="img/kois-logo.png" alt="Kois Center Logo">
                            <img src="img/nda-logo.png" alt="National Dental Association Logo">
                        </li>
                        <li>
                            <img src="img/icoi-logo.png" alt="International Congress of Oral Implantologists">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>