<section id="honors">
    <div class="wrapper honors-wrapper">
        <div class="flex">
            <img src="img/adg-logo.png" alt="Academy of General Dentistry Logo">
            <img src="img/kois-logo.png" alt="Kois Center Logo">
            <img src="img/nycdc-logo.png" alt="New York County Dental Society Logo">
            <img src="img/icoi-logo.png" alt="International Congress of Oral Implantologists">
            <img src="img/nda-logo.png" alt="National Dental Association Logo">
        </div>
    </div>
</section>