<section id="main">
    <div class="main-content flex">
        <div class="offset-6 main-location">
            <h1>New York's Painless Dental Care</h1>
            <div class="main-horizontal-line-1"></div>
            <h2>thousands of smiles served</h2>
        </div>
        <div class="main-location-2 flex">
            <div class="main-horizontal-line-2"></div>
            <span class="main-text-1">230 East 79th Street, Office 1</span>
            <div>
                <img src="img/phone.png" alt="phone">
                <span class="main-text-1">212.396.3069</span>
            </div>
        </div>
        <div class="main-location-3 flex">
            <span class="main-text-1">57 W 57th St, Suite 702</span>
            <div>
            <img src="img/phone.png" alt="phone">
            <span class="main-text-1">212-688-3472</span>
            </div>
        </div>
        <div class="main-location-4 flex">
            <span class="main-text-2">As seen <span class="smart-break">on:</span></span>
            <img class="main-logo" src="img/cbnbc-logo.png" alt="CNBC Logo">
            <img class="main-logo" src="img/fox-news-logo.png" alt="Fox News Logo">
            <img class="main-logo" src="img/7news-logo.png" alt="Seven News Logo">
            <img class="main-logo-2" src="img/cnn-logo.png" alt="CNN Logo">
        </div>
    </div>
</section>