<section id="main">
    <div class="main-content flex">
        <div class="offset-6 main-location">
            <h1>New Yorks Best Pain Free Dental Care</h1>
            <div class="main-horizontal-line-1"></div>
            <h2>thousands of smiles served</h2>
        </div>
        <div class="main-location-2">
            <div class="main-horizontal-line-2"></div>
            <span class="main-text-1">230 East 79th Street, Office 1</span>
            <img src="img/phone.png" alt="phone">
            <span class="main-text-1">212.396.3069</span>
        </div>
        <div class="main-location-3">
            <span class="main-text-1">57 W 57th St, Suite 702</span>
            <img src="img/phone.png" alt="phone">
            <span class="main-text-1">212-688-3472</span>
        </div>
        <div class="main-location-4">
            <span class="main-text-2">As seen <br> on:</span>
            <img src="img/cbnbc-logo.png" alt="CNBC Logo">
            <img src="img/fox-news-logo.png" alt="Fox News Logo">
            <img src="img/7news-logo.png" alt="Seven News Logo">
            <img src="img/cnn-logo.png" alt="CNN Logo">
        </div>
    </div>
</section>