<section id="testimonials">
    <div class="flex">
        <div class="half testimonials-bg testimonials-location-1 testimonials-flex-1 testimonials-wrapper wow fadeIn">
            <div class="testimonials-jcarousel-wrapper">
                <div class="testimonials-jcarousel">
                    <ul>
                        <li>
                            <div class="testimonials-text-1">Jennifer smith</div>
                            <div class="testimonials-text-2">
                                The receptionist was very accommodating as I did not have
                                much availability for appointments. They were able to take me in
                                with late notice. I'm happy that there was ample parking!
                                Receptionist was very accommodating as I did not have much
                                availability for appointments.
                            </div>
                        </li>
                        <li>
                            <div class="testimonials-text-1">Jennifer smith</div>
                            <div class="testimonials-text-2">
                                The receptionist was very accommodating as I did not have
                                much availability for appointments. They were able to take me in
                                with late notice. I'm happy that there was ample parking!
                                Receptionist was very accommodating as I did not have much
                                availability for appointments.
                            </div>
                        </li>
                        <li>
                            <div class="testimonials-text-1">Jennifer smith</div>
                            <div class="testimonials-text-2">
                                The receptionist was very accommodating as I did not have
                                much availability for appointments. They were able to take me in
                                with late notice. I'm happy that there was ample parking!
                                Receptionist was very accommodating as I did not have much
                                availability for appointments.
                            </div>
                        </li>
                        <li>
                            <div class="testimonials-text-1">Jennifer smith</div>
                            <div class="testimonials-text-2">
                                The receptionist was very accommodating as I did not have
                                much availability for appointments. They were able to take me in
                                with late notice. I'm happy that there was ample parking!
                                Receptionist was very accommodating as I did not have much
                                availability for appointments.
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="testimonials-nav half testimonials-wrapper">
                <div class="counter">
                    <span class="testimonials-counter"></span><span class="testimonials-total">/<span class="testimonials-total-counter"></span></span>
                </div>
                <div class="testimonials-arrow">
                   <a href="#" class="testimonials-jcarousel-control-prev"><img class="testimonials-arrow-1 " src="../img/arrow-back.png" alt="Arrow Back"></a>
                    <a href="#" class="testimonials-jcarousel-control-next"><img class="testimonials-arrow-2" src="../img/arrow-next.png" alt="Arrow Next"></a>
                </div>
                <div id="empty-for-flex"></div>
            </div>
        </div>
        <div class="half testimonials-location-2 testimonials-flex-2">
            <span class="testimonials-text-3 wow fadeIn">
                We Treat Our Patients
                <span class="smart-break">Like Family</span>
            </span>
        </div>
    </div>
</section>

