.gallery-location-1{
  text-align: center;
  transform: rotate(270deg);
  display: block;
}
.gallery-text-1{
  font-size: 2.7em;
  font-weight: bold;
  color:$main-color;
}
.gallery-bg{
  background-image:url('../img/gallery-bg.png');
  background-size: cover;
}
.gallery-wrapper{
  padding: 9.2em 16.7em 9.2em 6.7em;
}
.gallery-nav{
  width:100%;
}
.gallery-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gallery-arrow-1{
  margin-right: 2.2em;
  width:2.2em;
}
.gallery-arrow-2{
  margin-left: 1.5em;
  width:2.2em;
}
#gallery-counter{
  font-size: 4em;
  font-weight: 700;
  margin-left: -.25em;
  color: #55bff1;
}
.gallery-total{
  color: #b2b2b2;
  font-size: 1.8em;
  margin-top: -3em;
  margin-left: 2.2em;
  font-weight: bold;
  display: block;
  position: absolute;
}
#gallery{
  .counter{
    overflow: hidden;
    margin-left: 0.25em;
  }
}
.gallery-location-2{
  margin-top: 4em;
  margin-bottom: 4em;
  justify-content: center;
}
.gallery-img-1{
  margin-right: 4.7em;
  width: 25.3em;
}
.gallery-img-2{
  width: 25.3em;
}
.gallery-horizontal-line{
  position: absolute;
  width: 8.3em;
  margin-left: 0.7em;
  border-bottom: 0.13em solid #90d8ee;
  margin-top: -0.3em;
}
.gallery-text-2{
  color: white;
  font-size: 1.2em;
  letter-spacing: 0.07em;
  line-height: 1.85em;
  font-weight: 500;
}
.gallery-location-4{
  position: absolute;
  right: -8.5em;
  transform: rotate(90deg);
  margin-top: 0.4em;
}
.gallery-text-3{
  color: white;
  font-weight: 500;
  font-size: 1.8em;
  letter-spacing: 0.4em;
}

//gallery carousel

.gallery-jcarousel-wrapper {
  width: 100%;
}
.gallery-jcarousel {
  position: relative;
  overflow: hidden;
}
.gallery-jcarousel ul {
  width: 10000em;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align:center
}
.gallery-jcarousel li {
  float: left;
  width: 55.7em;
}
