#header{
  position:absolute;
  width: 100%;
  .phone-mobile{
    display: none;
    transition: 1s;
  }
  .logo{
    width: 7em;
    transition: 1s;
  }
  .menu{
    width: 2.3em;
  }
  .hover-menu-bg{
    width: 100%;
    height: 23em;
    position: absolute;
    background-color: #dadadae6;
    z-index: 0;
    opacity: 0;
    transition:1s;
  }
  .header-wrapper{
    padding-top: 3.1em;
    z-index: 1;
    position: relative;
  }
  .top-nav a{
    display: block;
    transition:350ms;
    text-decoration:none;
  }
  .top-nav{
    flex: 0.6 1 auto;
    margin-left: -4em;
  }
  ul{
    margin-bottom: 0;
    list-style: none;
    padding: 0px;
    a{
      color: white;
      text-transform: uppercase;
      font-size: 0.9em;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 2em;
    }
    a:hover{
      letter-spacing: 5px;
      color: $main-color!important;
    }
    a:after,a:before{
      backface-visibility: hidden;
      border: 1px solid rgba(#fff, 0);
      bottom: 0px;
      content: " ";
      display: block;
      margin: 0 auto;
      position: relative;
      transition: all 280ms ease-in-out;
      width: 0;
    }
    a:hover:after,a:hover:before{
      backface-visibility: hidden;
      border-color: $main-color;
      transition: width 350ms ease-in-out;
      width: 100%;
      margin-left: -2px;
    }
  }
}

#header{
  ul{
    li{
      ul{
        opacity: 0;
        transition:1s;
        position: absolute;
        margin-top: 2em;
        text-transform: uppercase;
        color: white;
        li{
          color: #757575;
          font-weight: bold;
          font-size: 0.85em;
          margin-bottom: 1.3em;
          a{
            text-align:left;
            width: max-content;
          }
        }
      }
    }
  }
}

#header{
  .hamburger{
    .line{
      width: 2.4em;
      height: 0.3em;
      background-color: $main-color;
      display: block;
      margin: 0.7em auto;
      border-radius: 10px;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }
    .line2{
      width: 1.7em;
      height: 0.3em;
      background-color: $main-color-2;
      display: block;
      margin-left: auto;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      border-radius: 10px;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }
  }

  .hamburger:hover{
    cursor: pointer;
  }
  #hamburger-3.is-active .line:nth-child(1),
  #hamburger-3.is-active .line:nth-child(3){
    width: 1.8em;
  }
  #hamburger-3.is-active .line:nth-child(1){
    transform: translateX(-1em) rotate(-45deg) translateY(0.27em);
    margin: 0 auto;
  }
  #hamburger-3.is-active .line2:nth-child(2){
    width: 3em;
    background-color:$main-color;
  }
  #hamburger-3.is-active .line:nth-child(3){
    transform: translateX(-1em) rotate(45deg) translateY(-0.27em);
    margin: 0 auto;
  }
}
